@font-face {
  font-family:pixelfont;
  src: url(../fonts/ari-w9500-condensed.ttf);
}

:root {
  --font: pixelfont;
  --color: aliceblue;
  --backgroundcolor: #111;
  --border_type1: solid 1px var(--color);
}

body{
  background-color: var(--backgroundcolor);
  color: var(--color);
  font-family: var(--font);
}

.l_sidebar {
  color: var(--color);
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--backgroundcolor);
  overflow-x: hidden;
  padding-top: 7px;
  padding-left: 15%;
  border: solid 1px var(--color);
  border-top: hidden;
  border-bottom: hidden;
  border-left: hidden;
  line-height: 30px;
  list-style-type: none;
}

.r_sidebar {
  color: var(--color);
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--backgroundcolor);
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 13%;
  padding-left: 2%;
  border: solid 1px var(--color);
  border-top: hidden;
  border-bottom: hidden;
  border-right: hidden;
  line-height: 30px;
}

.page {
  margin-left: 26%;
  margin-right: 26%;
}

.topbar {
  place-content: center;
  position: relative;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 30px;
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 10%;
}

.topbar input {
  margin-top: 21px;
  height: 20px;
}

.topbar i {
  margin-top: 21px;
  height: 20px;
}

.post {
  border: var(--border_type1);
  padding: 10px;
  margin-top: 5%;
}

.postinfo img {
  max-width: 40px;
  max-width: 40px;
}

.rsidebar_user {
  padding: 5px;
  border: var(--border_type1);
}

.rsidebar_user img{
  max-width: 30px;
  max-height: 30px;
}

input {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}